body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.img-thumbnail {
  max-width: 8em;
  margin-right: 3px;;
}

.store-container {
  padding: 5px;
  background-color: #fffeee;
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  max-width: 33em;
  flex-wrap: wrap;
}

.item-container {
  display: flex;
  height: 9em;
  width: 16em;
  align-items: top;
}

.item-name {
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  height: 1.3em;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.item-desc {
  margin-bottom: 0.5em;
}

.item-price {
  font-style: italic;
}

.nav-bar {
  display: flex;
  background-color:lightgray;
  align-items: center;
  min-height: auto;
}

.nav-bar a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.nav-bar a:hover {
  color: aliceblue;
}

.nav-bar div:last-child {
  margin-left: auto;
}